.signin-page {
	width: 100%;
	height: 100%;
	background: #F9F8F4;
	z-index: 0;

	.signin-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 40px 124px;
		gap: 103px;
		width: 100%;
		height: 140px;
		box-sizing: border-box;
		position: absolute;
		top: 0px;

		.logo>img {
			width: 73.41px;
			height: auto;
		}


		.auth-status {
			display: flex;
			flex-direction: row;
			padding: 0px;
			gap: 20px;
		}
	}

	.signin-body {
		z-index: 100;
		background-color: black;
		width: 50%;
		height: 100vh;
	}
}