.signin-page {
	width: 100%;
	height: 100%;
	background: #F9F8F4;
	z-index: 0;

	.signin-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 40px 124px;
		gap: 103px;
		width: 100%;
		height: 140px;
		box-sizing: border-box;
		position: absolute;
		top: 0px;

		.logo>img {
			width: 73.41px;
			height: auto;
		}


		.auth-status {
			display: flex;
			flex-direction: row;
			padding: 0px;
			gap: 20px;
		}
	}

	.signin-body {
		z-index: 100;
		display: flex;
		flex-direction: row;

		.signin-logo {
			width: 50%;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			background: linear-gradient(181.71deg, rgba(246, 232, 234, 0.24) -5%, rgba(249, 240, 230, 0.24) 37.12%, rgba(244, 158, 109, 0.24) 143.7%);

		}

		.signin-input {
			width: 50%;
			height: 100vh;
		}
	}
}