.signin-page {
	width: 100%;
	height: 100%;
	background: #F9F8F4;

	.signin-header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		padding: 40px 124px;
		gap: 103px;
		width: 100%;
		height: 140px;
		left: calc(50% - 1440px/2);
		top: 0px;

		.logo>img {
			width: 73.41px;
			height: auto;
		}


		.auth-status {
			display: flex;
			flex-direction: row;
			padding: 0px;
			gap: 20px;
		}
	}
}