.custom-btn {
    padding: 10px;

    input {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: 376px;
        height: 60px;

        padding: 0 50px;
        gap: 12px;

        border-radius: 10px;
        border: none;
        cursor: pointer;

        background: linear-gradient(90deg, #DD5690 0%, #FD895F 100%);
        box-shadow: 0 6px 18px rgba(242, 166, 156, 0.45);

        font-family: 'Syne', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: 0;
        text-align: center;

        color: #fff;
    }
}