.custom-input {
    input {
        /* Type Form */
        box-sizing: border-box;

        /* Auto layout */
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 20px;
        gap: 12px;

        width: 100%;
        max-width: 376px;
        height: 60px;

        background: #FFFFFF;
        border: 1px solid #F8E6D9;
        border-radius: 10px;
        outline: none;

        /* Inside auto layout */
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }
}